<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>

    <style>
        .active{
            border:1px solid red;
        }
        .text_danger{
            color:red;
        }
    </style>
</head>
<body>

    <div id="app"> <!-- 仮想DOM-->
        配列
        <li v-for="member in members">
            {{member}}
        </li>
        <li v-for="(member, index) in members">
            {{index}}{{member}}
        </li>
        オブジェクト
        <ul>
            <li v-for="value in book">
                {{value}}
            </li>
        </ul>
        <ul>
            <li v-for="(value,key) in book">
                {{key}} : {{value}}
            </li>
        </ul>
        <ul>
            <li v-for="(value,key, index) in book">
                {{index}} : {{key}} : {{value}}
            </li>
        </ul>
        
    </div>

    <script>
    let app = new Vue({
        el: '#app',
        data(){
            return {
                members: ['本田', '香川', '長友'],
                book: {
                    title:'タイトル',
                    author:'著者名',
                    url: 'https://google.com'
                }
            }
        }
    })
    </script>
</body>
</html>